.carousel-image-container {
    height: 500px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
}

nav {
    z-index: 1;
}


.carousel-image-container img {
    max-height: 100%;
    max-width: auto;
    z-index: -1;
}





@media (max-width: 1200px) {
    body {
        margin-top: 50px;
    }

    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
    }
}

.carousel-size {
    height:
}