@import url('../node_modules/font-awesome/css/font-awesome.min.css');


nav {
    z-index: 1;
}

.carousel-item {
  height: 300px;
}





@media (max-width: 1200px) {
    body {
        margin-top: 50px;
    }

    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
    }
}


.footer {
  background-color: #343a40 !important; 
  padding: 2rem 0;
  color: #fff;
}

.footer .smaller-text {
  font-size: 0.9rem !important;
  /* Adjust the value as needed */
}

#contact-footer {
  font-size: .8rem !important;
}

.smaller-text {
  font-size: 2rem !important;
}

p .smaller-text {
  font-size: 3rem !important;
}

.inline-footer-list {
  display: inline-block !important;
  margin: 0 1rem !important;
}

.div .tab-content {
  margin-top: 5px;
}